html, body {
	position: relative;
	width: 100%;
	height: 100%;
	color: #111;
	font-family: 'OpenSans', sans-serif, arial;
	background: #fff;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
a {
	color: #3f94c5;
	text-decoration: none;
	cursor: pointer;
}
*:active {
	/* remove blue highlight from touched elements: */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
	font-size: 1.2rem;
	border: none;
	box-sizing: border-box;
}
.error {
	color: red;
	font-size: 0.9rem;
}
#view {
	position: relative;
	display: none;
	align-items: center;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 4.1rem;/* header height */
	margin: 0 auto;
}
html.loaded #view {
	display: flex;
}
html.screen-saver-on #view {
	display: none;
}
.view {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 2rem;
	margin: 0 auto;
}
.view-inner {
	margin: 0 auto;
}
.page-title {
	font-weight: 700;
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 1rem;
}
.page-description {
	text-align: center;
	margin-bottom: 2rem;
}
#message {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
#message.visible {
	display: table;
}
#message-inner {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	padding: 1rem;
}
#message-content {
	display: inline-block;
	vertical-align: top;
	color: #f7f7f7;
	background: rgba(0, 0, 0, .9);
	border-radius: .5rem;
	padding: 1rem;
}
#cover {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	z-index: 999;
	opacity: 1;
	background-color: rgba(255, 255, 255, .7);
}
#cover-image-wrap {
	position: relative;
	width: 14rem;
	height: 21rem;
	margin: 0 auto;
}
#cover-image {
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 14rem 21rem;
	background-image: url('../images/app-loading.svg');
}
#cover-text {
	position: relative;
	top: -1rem;
	font-weight: 100;
	font-style: italic;
	text-align: center;
}
html.loaded #cover {
	display: none;
}
html.loaded.busy #cover {
	display: flex;
}
html.loaded.busy #cover-image-wrap {
	width: 104px;
	height: 104px;
}
html.loaded.busy #cover-image {
	background-size: 104px;
	background-image: url('../images/busy.gif');
	background-color: #fff;
	padding: 1rem;
	box-shadow: 0 0 .8rem rgba(0, 0, 0, .3);
}
html.loaded.busy #cover,
html.screen-saver-on #cover {
	display: block;
}
html.screen-saver-on #cover-image-wrap {
	position: absolute;
	left: 0;
	width: 14rem;
	height: 21rem;
	-webkit-animation: moveX 2.48s linear infinite alternate;
	animation: moveX 2.48s linear infinite alternate;
}
html.screen-saver-on #cover-text {
	position: absolute;
	left: 0;
	bottom: 2rem;
	top: initial;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
}
html.screen-saver-on #cover-image {
	position: absolute;
	top: 0;
	-webkit-animation: moveY 5s linear infinite alternate;
	animation: moveY 1.5s linear infinite alternate;
}
@keyframes moveX {
	0% { left: 0; }
	100% { left: calc(100% - 14rem); }
}
@keyframes moveY {
	0% { top: 0; }
	100% { top: calc(100vh - 25rem); }
}
@-webkit-keyframes moveX {
	0% { left: 0; }
	100% { left: calc(100% - 14rem); }
}
@-webkit-keyframes moveY {
	0% { top: 0; }
	100% { top: 90%; }
}