html, body {
	position: relative;
	width: 100%;
	height: 100%;
	color: #111;
	font-family: 'OpenSans', sans-serif, arial;
	background: #fff;
}
a,
a.pressed,
a:hover {
	color: #111;
	text-decoration: none;
	/* remove blue highlight from touched elements: */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#app {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	border: none;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.error {
	color: red;
	font-size: 0.9rem;
}
#view {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 3.3rem;/* header height */
	margin: 0 auto;
}
#view-content {
	position: relative;
	width: 100%;
	height: 100%;
}
.view {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 2rem;
	margin: 0 auto;
}
.page-title {
	font-weight: 700;
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 1rem;
}
.page-description {
	text-align: center;
	margin-bottom: 2rem;
}
#message {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
#message.visible {
	display: table;
}
#message-inner {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	padding: 1rem;
}
#message-content {
	display: inline-block;
	vertical-align: top;
	color: #f7f7f7;
	background: rgba(0, 0, 0, .9);
	border-radius: .5rem;
	padding: 1rem;
}
