.button {
	display: inline-block;
	vertical-align: top;
	font-size: 0.9rem;
	font-weight: 100;
	background: #efefef;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	padding: 6px 14px;
}
.button:active,
.button:hover {
	background: #e6e6e6;
}
.button.disabled {
	opacity: 0.35;
	cursor: not-allowed;
}
.button.disabled:active,
.button.disabled:hover {
	background: #efefef;
}
.button.payment-method {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 48px;
	padding: 32px;
}
.button.payment-method.bitcoin {
	background-image: url('../images/bitcoin.svg');
}
.button.payment-method.litecoin {
	background-image: url('../images/litecoin.svg');
}
.button.payment-method.monero {
	background-image: url('../images/monero.svg');
}
