.button {
	position: relative;
	display: inline;
	height: auto;
	cursor: pointer;
	color: #111;
	font-size: .9rem;
	font-weight: 400;
	background-color: #f7f7f7;
	border: none;
	box-shadow: 0 .3rem .3rem 0 rgba(0,0,0,.14),
				0 .45rem .15rem -.3rem rgba(0,0,0,.2),
				0 .15rem .75rem 0 rgba(0,0,0,.12);
	box-sizing: border-box;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	padding: .5rem;
}
.button.touchstart {
	text-decoration: none;
	background-color: #efefef;
	box-shadow: 0 .15rem .15rem 0 rgba(0,0,0,.14),
				0 .225rem .075rem -.15rem rgba(0,0,0,.2),
				0 .075rem .375rem 0 rgba(0,0,0,.12);
	transform: translate(.075rem,.15rem);
}
.button.disabled {
	cursor: not-allowed;
}
.button.disabled.touchstart {
	color: #111;
	background-color: #f7f7f7;
	box-shadow: 0 .3rem .3rem 0 rgba(0,0,0,.14),
				0 .45rem .15rem -.3rem rgba(0,0,0,.2),
				0 .15rem .75rem 0 rgba(0,0,0,.12);
	transform: none;
}
.button.payment-method {
	display: inline-block;
	vertical-align: top;
	width: 4.8rem;
	height: 4.8rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 4.8rem;
	box-sizing: initial;
	padding: 1rem;
}
.button.payment-method.bitcoin,
.button.payment-method.bitcoinTestnet {
	background-image: url('../images/bitcoin.svg');
}
.button.payment-method.litecoin,
.button.payment-method.litecoinTestnet {
	background-image: url('../images/litecoin.svg');
}
.button.payment-method.monero {
	background-image: url('../images/monero.svg');
}
.button.payment-method.bitcoinTestnet:after,
.button.payment-method.litecoinTestnet:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	content: 'testnet';
	color: red;
	font-weight: 700;
	text-align: center;
}
