.form {
}
.form-row {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.form-row + .form-row {
	margin-top: 1.5rem;
}
.form-group + .form-group {
	margin-top: 2rem;
}
.form-label {
	display: block;
	font-size: 1.2rem;
	margin-bottom: .5rem;
}
.form-field {
	font-size: 0.9rem;
}
.form-field-description {
	margin-bottom: 0.5rem;
}
.form-field-buttons .button {
	display: inline-block;
	vertical-align: top;
	padding: .5rem 1rem;
}
.form-input {
	width: 100%;
	height: 2rem;
	font-size: 0.9rem;
	line-height: 2rem;
	box-sizing: border-box;
	padding: 0 .5rem;
}

/* Text input */
.form-input.text-input {
	width: 100%;
	font-size: 0.9rem;
	padding: 0.9rem 0.9rem 0.9rem 0.4rem;
	display: block;
	border: none;
	border-bottom: 0.1rem solid #757575;
}
.form-input.text-input:focus {
	outline:none;
	border-bottom: 0.1rem solid #5264AE;
}
/* Text input */

.form-buttons {
	text-align: right;
	margin-top: 2rem;
}
.form-error-message {
	color: red;
	font-size: 0.9rem;
}
.form-field-actions {
	margin-top: .5rem;
}
.form-field-action {
	display: inline-block;
	vertical-align: top;
	width: 1rem;
	height: 1rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1rem;
	box-sizing: border-box;
	padding: .8rem 1.1rem;
}
.form-field-action + .form-field-action {
	margin-left: .2rem;
}
.form-field-action.camera {
	background-image: url('../images/camera.svg');
}
