.form {
}
.form-error {
	min-height: 25px;
	text-align: center;
	margin-bottom: 10px;
}
.form-error:empty {
	display: none;
}
.form-row {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.form-row + .form-row {
	margin-top: 10px;
}
.form-label {
	display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.form-input {
	width: 100%;
	font-size: 0.9em;
}
.form-buttons {
	text-align: right;
	margin-top: 20px;
}
.form-group {
}
.form-group + .form-group {
	border-top: 1px solid #efefef;
	padding-top: 10px;
	margin-top: 10px;
}
.form-group-label {
	color: #aaa;
	font-style: italic;
	margin-bottom: 10px;
}
