.form {
}
.form-row {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.form-row + .form-row {
	margin-top: 1rem;
}
.form-label {
	display: block;
	font-size: 1.2rem;
	margin-bottom: .5rem;
}
.form-field {
	font-size: 0.9rem;
}
.form-field-description {
	margin-bottom: 0.5rem;
}
.form-field-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.form-field-link + .form-field-link:before {
	position: absolute;
	left: 0;
	top: 0;
	content: '•';
	width: 1rem;
	color: #222;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.3rem;
	text-align: center;
	margin: 0;
}
.form-field-link + .form-field-link {
	padding-left: 1.2rem;
}
.form-input {
	width: 100%;
	font-size: 0.9rem;
	box-sizing: border-box;
}
.form-buttons {
	text-align: right;
	margin-top: 2rem;
}
.form-group + .form-group {
	border-top: .1rem solid #efefef;
	padding-top: 1rem;
	margin-top: 1rem;
}
.form-error-message {
	color: red;
	font-size: 0.9rem;
}
