.form {
}
.form-row {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.form-row + .form-row {
	margin-top: 1.5rem;
}
.form-group + .form-group {
	margin-top: 2rem;
}
.form-label {
	display: block;
	font-size: 1.2rem;
	margin-bottom: .5rem;
}
.form-field {
	font-size: 0.9rem;
}
.form-field-description {
	margin-bottom: 0.5rem;
}
.form-field-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.form-field-link + .form-field-link:before {
	position: absolute;
	left: 0;
	top: 0;
	content: '•';
	width: 1rem;
	color: #222;
	font-weight: 100;
	font-size: 1rem;
	line-height: 1.3rem;
	text-align: center;
	margin: 0;
}
.form-field-link + .form-field-link {
	padding-left: 1.2rem;
}
.form-input {
	width: 100%;
	height: 2rem;
	font-size: 0.9rem;
	line-height: 2rem;
	box-sizing: border-box;
	padding: 0 .5rem;
}

/* Text input */
.form-input.text-input {
	width: 100%;
	font-size: 0.9rem;
	padding: 0.9rem 0.9rem 0.9rem 0.4rem;
	display: block;
	border: none;
	border-bottom: 0.1rem solid #757575;
}
.form-input.text-input:focus {
	outline:none;
	border-bottom: 0.1rem solid #5264AE;
}
/* Text input */

.form-buttons {
	text-align: right;
	margin-top: 2rem;
}
.form-error-message {
	color: red;
	font-size: 0.9rem;
}
.form-field-actions {
	margin-top: .5rem;
}
.form-field-action {
	width: 2.2rem;
	height: 2rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.2rem;
	box-sizing: border-box;
	padding: 0;
}
.form-field-action + .form-field-action {
	margin-left: .2rem;
}
.form-field-action.camera {
	background-image: url('../images/camera.svg');
}
