#header {
	position: absolute;
	z-index: 100;
	display: none;
	vertical-align: top;
	width: 100%;
	height: 4.1rem;
	background: #f7f7f7;
	box-sizing: border-box;
	padding: 0;
}
html.loaded #header {
	display: inline-block;
}
.header-button {
	position: relative;
	z-index: 20;
	float: left;
	display: block;
	width: 4.1rem;
	height: 4.1rem;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2.7rem 2.7rem;
	box-sizing: border-box;
	cursor: pointer;
}
.header-button.quicktouch {
	background-color: #e6e6e6;
}
.header-button.admin {
	background-image: url('../images/gear.svg');
}
.header-button.admin:after {
	display: none;
}
.header-button.admin:after {
	position: absolute;
	right: 0.4rem;
	bottom: 0.4rem;
	content: ' ';
	display: none;
	width: 0.8rem;
	height: 0.8rem;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 0.8rem 0.8rem;
	background-image: url('../images/lock-closed.svg');
}
html.is-unlocked .header-button.admin:after {
	background-image: url('../images/lock-open.svg');
}
html.require-pin .header-button.admin:after {
	display: block;
}
.header-button.pay {
	background-image: url('../images/number-pad.svg');
}
#header-app-name {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
	padding-right: 4.5rem;/* language toggle width */
	padding-left: 4.1rem;/* admin icon width */
}
html.configured #header-app-name {
	padding-left: 8.2rem;/* admin+pay icons width */
}
#header-app-name-anchor {
	font-size: 1.1rem;
	line-height: 4.1rem;
	text-decoration: none;
	color: #ccc;
}
#header-app-name-anchor.pressed {
	text-decoration: none;
}
