#header {
	position: absolute;
	z-index: 100;
	display: none;
	vertical-align: top;
	width: 100%;
	height: 4.1rem;
	background: #f7f7f7;
	box-sizing: border-box;
	padding: 0;
}
html.loaded #header {
	display: inline-block;
}
html.screen-saver-on #header {
	display: none;
}
.header-button {
	position: relative;
	z-index: 20;
	float: left;
	display: block;
	width: 4.1rem;
	height: 4.1rem;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2.7rem 2.7rem;
	box-sizing: border-box;
	cursor: pointer;
}
.header-button.touchstart {
	background-color: #e6e6e6;
}
.header-button.more {
	float: right;
	background-image: url('../images/question.svg');
	background-size: 1.8rem 1.8rem;
}
.header-button.admin {
	background-image: url('../images/gear.svg');
}
.header-button.admin:after {
	display: none;
}
.header-button.admin:after {
	position: absolute;
	right: 0.4rem;
	bottom: 0.4rem;
	content: ' ';
	display: none;
	width: 0.8rem;
	height: 0.8rem;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 0.8rem 0.8rem;
	background-image: url('../images/lock-closed.svg');
}
html.is-unlocked .header-button.admin:after {
	background-image: url('../images/lock-open.svg');
}
html.require-pin .header-button.admin:after {
	display: block;
}
body.view-admin .header-button.admin {
	/*
		Hide the admin button while viewing the admin screens.
	*/
	display: none;
}
.header-button.pay {
	/*
		Hide the pay button by default.
	*/
	display: none;
	background-image: url('../images/number-pad.svg');
}
html.configured .header-button.pay {
	/*
		Show the pay button when the app is configured.
	*/
	display: block;
}
body.view-pay .header-button.pay,
body.view-choose-payment-method .header-button.pay,
body.view-display-payment-address .header-button.pay,
body.view-payment-status .header-button.pay,
body.view-payment-replaceable .header-button.pay {
	/*
		Hide the pay button when viewing the pay screens.
	*/
	display: none;
}
.header-button.language {
	position: relative;
	z-index: 20;
	float: right;
	width: 4.1rem;
	height: 4.1rem;
	line-height: 4.1rem;
	font-size: 1.1rem;
	text-align: center;
	color: #ccc;
}
.header-button.offline {
	/*
		Hide the offline icon by default.
	*/
	display: none;
	background-image: url('../images/offline.svg');
}
html.offline .header-button.offline {
	display: block;
}
body.view-getting-started .header-button,
html.configured body.view-getting-started .header-button.pay {
	/*
		Hide all header buttons while viewing the getting-started screens.
	*/
	display: none;
}
body.view-getting-started .header-button.language {
	/*
		Show only the language toggle while viewing the getting-started screens.
	*/
	display: block;
}
.header-button.qrcode {
	display: none;
	float: right;
	background-image: url('../images/qrcode.svg');
}
.header-button.qrcode.visible {
	display: block;
}
