#main-menu-toggle.header-button {
	left: 0;
	background-image: url('../images/menu.svg');
}
.menu {
	position: absolute;
	top: 0;
	left: -80%;
	z-index: 200;
	display: inline-block;
	vertical-align: top;
	width: 80%;
	max-width: 16rem;
	height: 100%;
	transition: left .5s;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	background: #efefef;
}
.menu.visible {
	left: 0;
}
.menu-cover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 150;
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
}
.menu.visible + .menu-cover {
	display: block;
	opacity: .5;
}
.menu-item {
	float: left;
	display: block;
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
	font-size: 1rem;
	text-align: center;
	box-sizing: border-box;
}
.menu-item.pressed,
.menu-item:hover {
	background-color: #e6e6e6;
}
.menu-info {
	float: left;
	width: 100%;
	font-size: 0.9rem;
	line-height: 3.2rem;
	text-align: center;
	background-color: #e6e6e6;
	border-bottom: .5rem solid #efefef;
	box-sizing: border-box;
	padding: 1rem 0;
}
.header-button#language-menu-toggle {
	right: 0;
	width: 4.5rem;
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: url('../images/grayscale-filter.svg#grayscale');
	background-size: 3rem;
}
.header-button#language-menu-toggle.pressed,
.header-button#language-menu-toggle:hover {
	-webkit-filter: none;
	filter: none;
}
#language-menu .menu-item {
	text-align: center;
	background-position: 2rem center;
	background-repeat: no-repeat;
	background-size: 3rem;
	cursor: pointer;
	padding-left: 2rem;
}
#language-menu-toggle.cs,
#language-menu .menu-item.cs {
	background-image: url('../images/flags/cz.svg');
}
#language-menu-toggle.en,
#language-menu .menu-item.en {
	background-image: url('../images/flags/gb.svg');
}
#language-menu-toggle.es,
#language-menu .menu-item.es {
	background-image: url('../images/flags/es.svg');
}
#language-menu.menu {
	left: initial;
	right: -80%;
	max-width: 15rem;
	transition: right .5s;
}
#language-menu.menu.visible {
	right: 0;
}
.secondary-menu {
	position: relative;
	z-index: 20;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 4rem;
	background: #efefef;
}
.secondary-menu-item {
	float: left;
	height: 100%;
	font-size: .8rem;
	line-height: 4.2rem;
	text-align: center;
	padding: 0 1rem;
}
.secondary-menu-item.active,
.secondary-menu-item:active,
.secondary-menu-item:hover {
	background-color: #e6e6e6;
}
