.menu {
	position: absolute;
	top: 0;
	left: -80%;
	z-index: 200;
	display: inline-block;
	vertical-align: top;
	width: 80%;
	max-width: 16rem;
	height: 100%;
	transition: left .5s;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	background: #efefef;
}
.menu.visible {
	left: 0;
}
.menu-item {
	float: left;
	display: block;
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
	color: #111;
	font-size: 1rem;
	text-align: center;
	box-sizing: border-box;
}
.menu-item.quicktouch {
	text-decoration: none;
	background-color: #e6e6e6;
}
#language-menu .menu-item {
	text-align: center;
	background-position: 2rem center;
	background-repeat: no-repeat;
	background-size: 3rem;
	cursor: pointer;
	padding-left: 2rem;
}
.header-button.language.cs,
#language-menu .menu-item.cs {
	background-image: url('../images/flags/cz.svg');
}
.header-button.language.en,
#language-menu .menu-item.en {
	background-image: url('../images/flags/gb.svg');
}
.header-button.language.es,
#language-menu .menu-item.es {
	background-image: url('../images/flags/es.svg');
}
.header-button.language.fr,
#language-menu .menu-item.fr {
	background-image: url('../images/flags/fr.svg');
}
#language-menu.menu,
#more-menu.menu {
	left: initial;
	right: -80%;
	max-width: 15rem;
	transition: right .5s;
}
#language-menu.menu.visible,
#more-menu.menu.visible {
	right: 0;
}
.secondary-menu {
	position: relative;
	z-index: 20;
	width: 100%;
	height: 4rem;
	background: #efefef;
	overflow-y: hidden;
	overflow-x: auto;
}
.secondary-menu-inner {
	display: inline-block;
	vertical-align: top;
	width: 10000rem;
	height: 100%;
}
.secondary-menu-item {
	float: left;
	height: 100%;
	color: #111;
	font-size: .8rem;
	line-height: 4.1rem;
	white-space: nowrap;
	text-align: center;
	padding: 0 1rem;
}
.secondary-menu-item.active {
	text-decoration: none;
	background-color: #e6e6e6;
}
