.number-pad {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.number-pad-wrap {
	width: 20rem;
	max-width: 90%;
	margin: 0 auto;
}
.number-pad-key {
	float: left;
	cursor: pointer;
	display: block;
	width: 33.3333%;
	height: 4rem;
	line-height: 4rem;
	color: #666;
	font-weight: 200;
	font-size: 1.2rem;
	text-align: center;
	border: .15rem solid #efefef;
	box-shadow: .15rem .15rem .15rem 0 rgba(0,0,0,.14),
				.3rem .3rem .15rem -.45rem rgba(0,0,0,.2),
				.15rem .15rem .15rem 0 rgba(0,0,0,.12);
	margin: 0;
	padding: 0;
}
.number-pad-key.decimal,
.number-pad-key.backspace {
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 4rem;
	color: #444;
}
.number-pad-key.disabled {
	cursor: default;
}
.number-pad-key.disabled.touchstart {
	box-shadow: .15rem .15rem .15rem 0 rgba(0,0,0,.14),
				.3rem .3rem .15rem -.45rem rgba(0,0,0,.2),
				.15rem .15rem .15rem 0 rgba(0,0,0,.12);
}
