.number-pad {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	background: #efefef;
}
.number-pad-key {
	float: left;
	display: block;
	width: 33.3%;
	height: 4rem;
	line-height: 4rem;
	color: #111;
	font-weight: 100;
	text-align: center;
	border: .1rem solid #ccc;
	border-left: none;
	box-sizing: border-box;
	cursor: pointer;
	padding: 0;
}
.number-pad-key:hover,
.number-pad-key.pressed {
	text-decoration: none;
	background: #e6e6e6;
}
.number-pad-key:nth-child(3n+1) {
	border-left: .1rem solid #ccc;
}
.number-pad-key:nth-child(n+4) {
	border-top: none;
}
.number-pad-key.dot,
.number-pad-key.backspace {
	font-weight: 400;
}
.number-pad-key.disabled {
	cursor: default;
}
.number-pad-key.disabled:hover {
	background: transparent;
}
