.numpad {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	background: #efefef;
}
.numpad-key {
	float: left;
	display: block;
	width: 33.3%;
	height: 4rem;
	line-height: 4rem;
	font-weight: 100;
	text-align: center;
	border: .1rem solid #ccc;
	border-left: none;
	box-sizing: border-box;
	cursor: pointer;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	padding: 0;
}
.numpad-key:hover,
.numpad-key.pressed {
	background: #e6e6e6;
}
.numpad-key:nth-child(3n+1) {
	border-left: .1rem solid #ccc;
}
.numpad-key:nth-child(n+4) {
	border-top: none;
}
.numpad-key[data-value="."],
.numpad-key.backspace {
	font-weight: 400;
}
