.payment-method {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 4.8rem;
	height: 4.8rem;
	background-size: 4.8rem;
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.payment-method.bitcoin,
.payment-method.bitcoinTestnet,
.payment-method.bitcoinLightning {
	background-image: url('../images/bitcoin.svg');
}
.payment-method.litecoin,
.payment-method.litecoinTestnet {
	background-image: url('../images/litecoin.svg');
}
.payment-method.monero {
	background-image: url('../images/monero.svg');
}
.payment-method.bitcoinTestnet:after,
.payment-method.litecoinTestnet:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	content: 'testnet';
	color: red;
	font-weight: 700;
	text-align: center;
}
.payment-method.bitcoinLightning:after {
	position: absolute;
	right: -.7rem;
	bottom: -.7rem;
	z-index: 20;
	content: ' ';
	display: block;
	width: 3rem;
	height: 3rem;
	background-size: 3rem;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(../images/lightning.svg);
}
