.result-indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 16rem;
	height: 16rem;
	max-width: 90%;
	max-height: 90%;
	background-color: #ccc;
	border-radius: 50%;
	-webkit-animation: resultIndicatorScale .5s ease-in-out;
	animation: resultIndicatorScale .5s ease-in-out;
	will-change: transform;
	margin: 0 auto;
}
.result-indicator-inner {
	color: #fff;
	font-size: 2.2rem;
	font-weight: 200
	text-align: center;
}
@-webkit-keyframes resultIndicatorScale {
	0% {
		-webkit-transform: scale(0) translateZ(0);
		transform: scale(0) translateZ(0);
	}
	20% {
		-webkit-transform: scale(1.5) translateZ(0);
		transform: scale(1.5) translateZ(0);
	}
	60% {
		-webkit-transform: scale(0.75) translateZ(0);
		transform: scale(0.75) translateZ(0);
	}
	100% {
		-webkit-transform: scale(1) translateZ(0);
		transform: scale(1) translateZ(0);
	}
}
@keyframes resultIndicatorScale {
	0% {
		-webkit-transform: scale(0) translateZ(0);
		transform: scale(0) translateZ(0);
	}
	20% {
		-webkit-transform: scale(1.5) translateZ(0);
		transform: scale(1.5) translateZ(0);
	}
	60% {
		-webkit-transform: scale(0.75) translateZ(0);
		transform: scale(0.75) translateZ(0);
	}
	100% {
		-webkit-transform: scale(1) translateZ(0);
		transform: scale(1) translateZ(0);
	}
}
