.view.has-secondary-controls {
	padding: 1rem 1rem 5rem 1rem;
}
.secondary-controls {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	width: 100%;
	height: 5rem;
	line-height: 4rem;
	background: #fff;
	box-sizing: border-box;
	padding: .5rem;
}
.secondary-control {
	float: left;
	height: 100%;
	font-size: 1.1rem;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
}
.secondary-control.touchstart {
	text-decoration: none;
}
.secondary-control + .secondary-control {
	border-left: none;
	margin-left: 2%;
}
/* one item */
.secondary-control:first-child:nth-last-child(1) {
	width: 100%;
}
/* two items */
.secondary-control:first-child:nth-last-child(2),
.secondary-control:first-child:nth-last-child(2) ~ .secondary-control {
	width: 49%;
}
/* three items */
.secondary-control:first-child:nth-last-child(3),
.secondary-control:first-child:nth-last-child(3) ~ .secondary-control {
	width: 31.33333%;
}
/* four items */
.secondary-control:first-child:nth-last-child(4),
.secondary-control:first-child:nth-last-child(4) ~ .secondary-control {
	width: 23%;
}
.button.secondary-control {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2.4rem;
	background-repeat: no-repeat;
}
.button.secondary-control.back {
	background-image: url('../images/back.svg');
}
.button.secondary-control.continue {
	background-image: url('../images/continue.svg');
}
.button.secondary-control.download {
	background-image: url('../images/download.svg');
}
.button.secondary-control.accept,
.button.secondary-control.done,
.button.secondary-control.submit {
	background-image: url('../images/checkmark.svg');
}
.button.secondary-control.cancel,
.button.secondary-control.reject {
	background-image: url('../images/cancel.svg');
}
.button.secondary-control.back {
	background-color: rgba(255,153,0,0.8);
}
.button.secondary-control.back.touchstart {
	background-color: rgba(255,153,0,0.7);
}
.button.secondary-control.accept,
.button.secondary-control.continue,
.button.secondary-control.download,
.button.secondary-control.submit,
.button.secondary-control.done {
	background-color: rgba(0,128,0,0.6);
}
.button.secondary-control.accept.touchstart,
.button.secondary-control.continue.touchstart,
.button.secondary-control.download.touchstart,
.button.secondary-control.submit.touchstart {
	background-color: rgba(0,128,0,0.5);
}
.button.secondary-control.cancel,
.button.secondary-control.reject {
	background-color: rgba(255,0,0,0.6);
}
.button.secondary-control.cancel.touchstart,
.button.secondary-control.reject.touchstart {
	background-color: rgba(255,0,0,0.5);
}
