.slider {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.slider-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slider-items {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}
.slider-item {
	position: relative;
	float: left;
	display: none;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: -webkit-transform 0.2s ease-out, transform 0.2s ease-out;
}
.slider-item.visible {
	display: block;
}
.slider-item-content {
	position: relative;
	height: 100%;
}
