html, body {
	position: relative;
	width: 100%;
}
.wrap {
	position: relative;
	width: 100%;
}

	/*  Home page  */
	html.index,
	html.index body {
		height: 100%;
	}
	html.index .content {
		width: 100%;
		height: 100%;
		color: #fff;
		background: #2799b4;
		background: linear-gradient(to bottom right, #2799b4, #68d1e9);
	}
	html.index .content a {
		color: #fff;
		text-decoration: none;
	}
	html.index .content a:hover {
		text-decoration: none;
	}
	html.index .content.main {
		min-height: 30rem;
	}
	html.index .content.main .wrap {
		display: flex;
		align-items: center;
		height: 100%;
		box-sizing: border-box;
		padding: 0 3.5rem;
	}
	html.index .content.main .title-description-and-logo {
		float: left;
		width: 60%;
	}
	html.index .content.main .title-description-and-logo-inner {
		display: flex;
		align-content: center;
		width: 100%;
		padding-left: 3.75rem;/* half the logo image */
		padding-bottom: 15rem;/* give space for more-info */
	}
	html.index .content.main .logo {
		display: block;
		float: left;
		width: 7.5rem;
		height: 7.5rem;
		box-shadow: 0 0 .5rem #000;
		margin-right: 2.5rem;
	}
	html.index .content.main .title {
		font-size: 3rem;
		font-weight: 400;
	}
	html.index .content.main .description {
		font-size: 1.5rem;
		font-weight: 100;
		margin-top: .5rem;
	}
	html.index .content.main .more-info {
		position: absolute;
		left: 17.25rem;/* align with the left edge of the title and description text */
		bottom: 4rem;
	}
	html.index .content.main .supported-cryptocurrencies {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	html.index .content.main .supported-cryptocurrency {
		float: left;
		opacity: 0.85;
		border: .1rem solid #fff;
		border-radius: 50%;
		box-shadow: 0 0 .4rem #000;
	}
	html.index .content.main .supported-cryptocurrency-image {
		display: inline-block;
		vertical-align: top;
		width: 3.6rem;
		height: 3.6rem;
	}
	html.index .content.main .supported-cryptocurrency:hover {
		opacity: 1;
	}
	html.index .content.main .supported-cryptocurrencies-text {
		font-size: 1.1rem;
		font-weight: 100;
		margin-bottom: .6rem;
	}
	html.index .content.main .supported-cryptocurrency + .supported-cryptocurrency {
		margin-left: .5rem;
	}
	html.index .content.main .links {
		font-weight: 100;
		margin-top: 2rem;
	}
	html.index .content.main .link {
		border-radius: .6rem;
		background: rgba(255, 255, 255, .075);
		padding: .5rem .75rem;
	}
	html.index .content.main .link:hover {
		background: rgba(255, 255, 255, .15);
	}
	html.index .content.main .link-text {
		display: inline-block;
		vertical-align: top;
		font-size: 1.1rem;
		margin-right: .6rem;
	}
	html.index .content.main .link.github {
		position: relative;
		left: -.75rem;
		line-height: 1.35rem;
		white-space: nowrap;
	}
	html.index .content.main .link.github .github-logo {
		display: inline-block;
		vertical-align: top;
		width: auto;
		height: 1.35rem;
	}
	html.index .content.main .app-store-links {
		display: flex;
		margin-top: 2rem;
	}
	html.index .content.main .app-store-link img {
		display: block;
		max-width: 10rem;
		height: auto;
	}
	html.index .content.main .screenshots {
		display: flex;
		align-items: center;
		float: left;
		width: 40%;
		height: 100%;
	}
	html.index .content.main .screenshot {
		display: block;
		width: auto;
		height: 100%;
		box-sizing: border-box;
		padding: 3rem 0;
		margin: 0 auto;
	}
	/*  Home page  */


	/*  for phones  */
	@media screen and (max-width: 800px) {
		html.index .content {
			height: auto;
			background: #2799b4;
			overflow: hidden;
		}
		html.index .content.main {
			min-height: auto;
		}
		html.index .content.main .wrap {
			display: block;
			align-items: initial;
			height: auto;
			padding: 2.5rem 0;
		}
		html.index .content.main .title-description-and-logo {
			position: relative;
			float: none;
			width: 100%;
		}
		html.index .content.main .title-description-and-logo-inner {
			display: block;
			align-content: initial;
			text-align: center;
			padding: 0;
		}
		html.index .content.main .logo {
			float: none;
			display: inline;
			width: 3rem;
			height: 3rem;
			margin: 0;
		}
		html.index .content.main .title-and-description {
			display: inline;
		}
		html.index .content.main .title {
			display: inline-block;
			vertical-align: top;
			font-size: 2rem;
			line-height: 3rem;
			text-align: left;
			white-space: nowrap;
			margin-left: .6rem;
		}
		html.index .content.main .description {
			display: block;
			font-size: 1.2rem;
			text-align: center;
			margin-top: 1.2rem;
			padding: 0 2.5rem;
		}
		html.index .content.main .more-info {
			position: relative;
			left: initial;
			bottom: initial;
			text-align: center;
			margin-top: 2.5rem;
			padding: 0 2.5rem;
		}
		html.index .content.main .supported-cryptocurrencies {
			text-align: center;
		}
		html.index .content.main .supported-cryptocurrency {
			display: inline-block;
			vertical-align: top;
			float: none;
		}
		html.index .content.main .link.github {
			position: relative;
			left: initial;
			height: auto;
			white-space: initial;
		}
		html.index .content.main .link {
			border-radius: none;
			background: transparent;
			padding: 0;
		}
		html.index .content.main .link:hover {
			background: transparent;
		}
		html.index .content.main .link-text {
			display: block;
			margin: 0 0 .6rem 0;
		}
		html.index .content.main .app-store-links {
			justify-content: center;
		}
		html.index .content.main .screenshots {
			display: block;
			align-items: initial;
			float: none;
			width: 100%;
			height: auto;
			box-sizing: border-box;
			margin-top: 2.5rem;
			padding: 0 2.5rem;
		}
		html.index .content.main .screenshot {
			width: 100%;
			max-width: 220px;
			height: auto;
			padding: 0;
		}
	}
	@media screen and (max-width: 450px) {
		html.index .content.main .title {
			font-size: 1.75rem;
		}
		html.index .content.main .description {
			font-size: 1.3rem;
		}
	}
	@media screen and (max-width: 300px) {
		html.index .content.main .title {
			font-size: 1.6rem;
		}
		html.index .content.main .description {
			font-size: 1.2rem;
		}
	}
	/*  for phones  */


	/*  Privacy Policy  */
	html.privacy-policy body {
		padding-bottom: 3rem;
	}
	html.privacy-policy .wrap {
		max-width: 75rem;
		box-sizing: border-box;
		padding: 0 5rem;
		margin: 0 auto;
	}
	html.privacy-policy .content h1 {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}
	html.privacy-policy .content h2 {
		font-size: 1.8rem;
	}
	html.privacy-policy .content ul {
		margin-left: 2rem;
	}
	html.privacy-policy .content ul + p,
	html.privacy-policy .content ul + h2,
	html.privacy-policy .content p + h2 {
		margin-top: 2rem;
	}
	html.privacy-policy .content p + ul,
	html.privacy-policy .content p + p,
	html.privacy-policy .content h2 + ul,
	html.privacy-policy .content h2 + p {
		margin-top: 1rem;
	}
	html.privacy-policy .content .title-description-and-logo-inner {
		display: flex;
		align-content: center;
		width: 100%;
		padding: 3rem 0;
	}
	html.privacy-policy .content .logo {
		display: block;
		float: left;
		width: 7.5rem;
		height: 7.5rem;
		box-shadow: 0 0 .5rem #000;
		margin-right: 2.5rem;
	}
	html.privacy-policy .content .title {
		font-size: 3rem;
		font-weight: 400;
	}
	html.privacy-policy .content .description {
		font-size: 1.5rem;
		font-weight: 100;
		margin-top: .5rem;
	}
	@media screen and (max-width: 800px) {
		html.privacy-policy .content.app-info {
			margin-bottom: 1rem;
		}
		html.privacy-policy .wrap {
			padding: 0 1rem;
		}
		html.privacy-policy .content .title-description-and-logo-inner {
			padding: 1rem 0;
		}
		html.privacy-policy .content .logo {
			display: none;
		}
		html.privacy-policy .content .title {
			font-size: 2rem;
		}
		html.privacy-policy .content .description {
			font-size: 1.2rem;
		}
		html.privacy-policy .content h1 {
			font-size: 1.8rem;
		}
		html.privacy-policy .content h2 {
			font-size: 1.3rem;
		}
	}
	@media screen and (max-width: 450px) {
	}
	@media screen and (max-width: 300px) {
	}
	/*  Privacy Policy  */

