html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
.content {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #2799b4;
	background: linear-gradient(to bottom right, #2799b4, #68d1e9);
}
.content a {
	color: #fff;
	text-decoration: none;
}
.content a:hover {
	text-decoration: none;
}
.wrap {
	position: relative;
	width: 100%;
}

	/*  Main  */
	.content.main .wrap {
		display: flex;
		align-items: center;
		height: 100%;
		box-sizing: border-box;
		padding: 0 3.5rem;
	}
	.content.main .title-description-and-links {
		float: left;
		width: 60%;
	}
	.content.main .title-description-and-logo {
		display: flex;
		align-content: center;
		width: 100%;
		padding-left: 3.75rem;/* half the logo image */
	}
	.content.main .logo {
		display: block;
		float: left;
		width: 7.5rem;
		height: 7.5rem;
		box-shadow: 0 0 .5rem #000;
		margin-right: 2.5rem;
	}
	.content.main .title {
		font-size: 3rem;
		font-weight: 400;
	}
	.content.main .description {
		font-size: 1.4rem;
		font-weight: 100;
		margin-top: .5rem;
	}
	.content.main .more-info {
		padding-left: 13.25rem;/* align with the left edge of the title and description text */
		margin-top: 4rem;
	}
	.content.main .supported-cryptocurrencies {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	.content.main .supported-cryptocurrency {
		float: left;
		opacity: 0.85;
		border: .1rem solid #fff;
		border-radius: 50%;
		box-shadow: 0 0 .4rem #000;
	}
	.content.main .supported-cryptocurrency-image {
		display: inline-block;
		vertical-align: top;
		width: 3.6rem;
		height: 3.6rem;
	}
	.content.main .supported-cryptocurrency:hover {
		opacity: 1;
	}
	.content.main .supported-cryptocurrencies-text {
		font-size: 1.1rem;
		font-weight: 100;
		margin-bottom: .6rem;
	}
	.content.main .supported-cryptocurrency + .supported-cryptocurrency {
		margin-left: .5rem;
	}
	.content.main .links {
		font-weight: 100;
		margin-top: 3rem;
	}
	.content.main .link {
		border-radius: .6rem;
		background: rgba(255, 255, 255, .075);
		padding: .5rem .75rem;
	}
	.content.main .link:hover {
		background: rgba(255, 255, 255, .15);
	}
	.content.main .link-text {
		display: inline-block;
		vertical-align: top;
		font-size: 1.1rem;
		margin-right: .6rem;
	}
	.content.main .link.github {
		line-height: 1.35rem;
	}
	.content.main .link.github .github-logo {
		display: inline-block;
		vertical-align: top;
		width: auto;
		height: 1.35rem;
	}
	.content.main .screenshots {
		display: flex;
		align-items: center;
		float: left;
		width: 40%;
		height: 100%;
	}
	.content.main .screenshot {
		display: block;
		width: auto;
		height: 100%;
		max-height: 36rem;
		box-sizing: border-box;
		padding: 3rem 0;
		margin: 0 auto;
	}
	/*  Main  */
