<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.learnbydoing.cryptoterminal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CryptoTerminal</name>
    <description>A merchant terminal app which allows payments by customers via multiple cryptocurrencies.</description>
    <icon density="mdpi" height="57" src="www/favicon.ico" width="57" />
    <access origin="https://*/*" />
    <platform name="android">
        <hook src="scripts/copy-build-extras-gradle-to-platform-dir.js" type="before_prepare" />
    </platform>
    <engine name="android" spec="6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.3" />
</widget>
