<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if (target === 'dev' || target === 'test') { %>
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' https: data: gap: wss: http: ws:; script-src 'self' 'unsafe-eval';">
<% } else { %>
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' https: data: gap: wss:; script-src 'self' 'unsafe-eval';">
<% } %>
	<title><%= info.name %></title>
<% if (target === 'dev' || target === 'test') { %>
	<link href="css/all.css" rel="stylesheet">
<% } else { %>
	<link href="css/all.min.css" rel="stylesheet">
<% } %>
<%= html.favicon.content %>
</head>
<body>

<%= html.app.content %>

	<noscript>
		<!-- This language string is hard-coded because handlebars requires JavaScript. -->
		<p class="page-description">This app requires JavaScript to function.</p>
	</noscript>
<% _.each(_.values(html.templates), function(template) { %>
	<script type="text/html" id="template-<%= template.key %>">
<%= template.content %>
	</script>
<% }); %>
	<script type="text/json" id="json-info"><%= JSON.stringify(info) %></script>
	<script src="cordova.js"></script>
<% if (target === 'dev' || target === 'test') { %>
	<script src="js/all.js"></script>
<% } else { %>
	<script src="js/all.min.js"></script>
<% } %>

</body>
</html>