<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' https: data: gap: https://ssl.gstatic.com; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
	<title><%= name %></title>
	<link href="css/all.min.css" rel="stylesheet">
<%= html.favicon.content %>
</head>
<body>

<%= html.app.content %>

	<noscript>
		<!-- This language string is hard-coded because handlebars requires JavaScript. -->
		<p class="page-description">This app requires JavaScript to function.</p>
	</noscript>
<% _.each(_.values(html.templates), function(template) { %>
	<script type="text/html" id="template-<%= template.key %>">
<%= template.content %>
	</script>
<% }); %>
	<script>
		var app = app || {};
		app.name = '<%= name %>';
		app.description = '<%= description %>';
		app.version = '<%= version %>';
	</script>
	<script src="js/all.js"></script>

</body>
</html>