.view.about {
	font-size: 1rem;
	line-height: 1.3rem;
}
.view.about h1 {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 100;
}
.view.about h2 {
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-weight: bold;
}
.view.about h1 + h2 {
	margin-top: 2.4rem;
}
.view.about p + h2 {
	margin-top: 1.2rem;
}
.view.about h2 + p,
.view.about p + p {
	margin-top: .8rem;
}
