.view.admin {
	padding: 0;
}
.view.admin .button.payment-method {
	background-size: 3rem;
	padding: 2rem;
	opacity: 0.5;
	margin-left: .4rem;
}
.view.admin input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: -99999rem;
	visibility: hidden;
}
.view.admin input[type="checkbox"]:checked + .button.payment-method {
	opacity: 1;
	background-color: #e6e6e6;
}
.view.admin .form-group.configurableCryptoCurrencies {
	text-align: center;
}
.view.admin .form-group.configurableCryptoCurrencies .form-group-label {
	color: #111;
	text-align: center;
	font-style: normal;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}
.view.admin .slider {
	padding-top: 4rem;
}
.view.admin .slider-item {
	box-sizing: border-box;
	padding: 2rem;
}
.view.admin .secondary-menu-item,
.view.admin .slider-item {
	display: none;
}
.view.admin .secondary-menu-item.visible,
.view.admin .slider-item.visible {
	display: block;
}
.view.admin .slider-item.payment-history {
	padding: 0;
}
