.view.admin {
	padding: 0;
}
.view.admin .slider {
	padding-top: 4rem;
}
.view.admin .slider-item {
	box-sizing: border-box;
	padding: 1rem;
}
.view.admin .secondary-menu-item {
	display: none;
}
.view.admin .secondary-menu-item.visible {
	display: block;
}

/*  General Settings  */
.view.admin .form-group.configurableCryptoCurrencies .button.payment-method {
	width: 5rem;
	height: 5rem;
	background-size: 4.5rem;
	opacity: .33;
	box-sizing: border-box;
	padding: 0;
	margin: 0 .4rem .4rem 0;
}
.view.admin .form-group.configurableCryptoCurrencies .button.payment-method.bitcoinLightning:after {
	right: -.5rem;
	bottom: -.15rem;
	width: 1.7rem;
	height: 2.89rem;
	background-size: 2rem 2.89rem;
}
.view.admin .form-group.configurableCryptoCurrencies input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: -99999rem;
	visibility: hidden;
}
.view.admin .form-group.configurableCryptoCurrencies input[type="checkbox"]:checked + .button.payment-method {
	opacity: 1;
	background-color: #e6e6e6;
}
.view.admin .form-group.configurableCryptoCurrencies {
	width: 100%;
	text-align: center;
	padding-bottom: 1.6rem;
}
.view.admin .form-group.configurableCryptoCurrencies .form-group-label {
	color: #111;
	text-align: center;
	font-style: normal;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}
.view.admin select {
	height: auto;
	border: 0;
	background-color: #f7f7f7;
	font-size: .9rem;
	box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,.14),
				0 .3rem .1rem -.2rem rgba(0,0,0,.2),
				0 .1rem .5rem 0 rgba(0,0,0,.12);
	padding: .5rem;
}
/*  General Settings  */


/*  Payment History  */
.view.admin .slider-item.payment-history {
	padding: 0;
}
/*  Payment History  */
