.view.display-payment-address .info {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	width: 100%;
	height: 7.5rem;
	box-sizing: border-box;
}
.view.display-payment-address .info-inner {
	width: 100%;
}
.view.display-payment-address .amount-wrap {
}
.view.display-payment-address .address {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 5.5rem;/* (height of the .amount-wrap element) + extra padding */
	padding-bottom: 7.4rem;/* (height of the .amount-wrap element) + extra padding */
}
.view.display-payment-address .address-instructions {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	padding-bottom: 4rem;
	margin: 0;
}
.view.display-payment-address .address-qr-code {
	display: block;
	width: 100%;
	height: 100%;
}
.view.display-payment-address .message {
	display: none;
	width: 100%;
	height: 2.5rem;
	color: #222;
	font-size: .9rem;
	line-height: 1.25rem;
	text-align: center;
	background-color: rgba(255, 152, 0, 0.7);
	padding: .25rem 0;
	margin: 0 auto;
}
.view.display-payment-address .message strong {
	font-weight: 700;
}
html.offline .view.display-payment-address .message {
	display: block;
}