.enter-pin {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 200;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #fff;
	box-sizing: border-box;
}
.enter-pin-keys {
	height: 2rem;
	font-size: 2rem;
	line-height: 2rem;
	text-align: center;
	margin-bottom: 1.5rem;
}
.enter-pin-keys:empty:after {
	content: '-';
	font-weight: 200
}
.enter-pin-inner {
	margin: 0 auto;
}
.enter-pin .buttons {
	margin-top: 2rem;
}
.enter-pin .secondary-control {
	float: right;
	text-align: center;
	box-sizing: border-box;
}
.enter-pin .secondary-control + .secondary-control {
	margin-left: 0;
	margin-right: 2%;
}
.enter-pin-instructions {
	text-align: center;
	margin-top: 2rem;
}
