html.keyboard-visible .view.getting-started .secondary-controls {
	display: none;
}
.view.getting-started .slider {
	padding-top: 0;
}
.view.getting-started[data-subpage=welcome] .slider,
.view.getting-started[data-subpage=done] .slider {
	padding-top: 0;
}
.view.getting-started .getting-started-page {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 1rem 1rem 6rem 1rem;
}
.view.getting-started .getting-started-page-title {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2rem;
}
.view.getting-started .getting-started-page p {
	font-size: 1.2rem;
	line-height: 2rem;
	margin-bottom: 1rem;
}
.view.getting-started .getting-started-page ul {
	display: block;
	list-style: none;
	font-size: 1.1rem;
	line-height: 1.7rem;
	margin-left: .5rem;
	margin-bottom: 1rem;
}
.view.getting-started .getting-started-page-instructions {
	margin-bottom: 2rem;
}
.view.getting-started .slider-item-content .getting-started {
	height: 100%;
}

	/*  Welcome  */
	/*  Welcome  */

	/*  Choose payment methods  */
	.view.getting-started .getting-started-choose-payment-methods p {
		text-align: center;
	}
	.view.getting-started .getting-started-choose-payment-methods .form-group.configurableCryptoCurrencies {
		margin-top: 1rem;
	}
	.view.getting-started .getting-started-choose-payment-methods .form-group.configurableCryptoCurrencies .button.payment-method {
		width: 4.8rem;
		height: 4.8rem;
		background-size: 4.8rem;
		opacity: 0.5;
		margin: 0 .4rem .4rem 0;
		padding: .4rem;
	}
	.view.getting-started .getting-started-choose-payment-methods .form-group.configurableCryptoCurrencies .button.payment-method.bitcoinLightning:after {
		right: -.8rem;
		bottom: -.8rem;
		width: 3.6rem;
		height: 3.6rem;
		background-size: 3.6rem;
	}
	.view.getting-started .getting-started-choose-payment-methods .form-group.configurableCryptoCurrencies input[type="checkbox"] {
		position: absolute;
		top: 0;
		left: -99999rem;
		visibility: hidden;
	}
	.view.getting-started .getting-started-choose-payment-methods .form-group.configurableCryptoCurrencies input[type="checkbox"]:checked + .button.payment-method {
		opacity: 1;
		background-color: #e6e6e6;
	}
	.view.getting-started .getting-started-choose-payment-methods .form-group.configurableCryptoCurrencies {
		width: 100%;
		text-align: center;
		padding-bottom: 1.6rem;
	}
	.view.getting-started .getting-started-choose-payment-methods .form-group.configurableCryptoCurrencies .form-group-label {
		color: #111;
		text-align: center;
		font-style: normal;
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}
	/*  Choose payment methods  */


	/*  Payment method settings  */
	.view.getting-started .getting-started-page .sample-addresses-instructions p {
		font-size: 1rem;
		line-height: 160%;
		margin-bottom: .5rem;
	}
	/*  Payment method settings  */
