.view.pay {
	display: flex;
	align-items: center;
	padding: 0;
	padding-bottom: 6rem;/* height of buttons */
}
.view.pay .page-description {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.view.pay .amount-wrap {
	margin-bottom: 1rem;
}
.view.pay .presets {
	text-align: center;
	margin-bottom: 2rem;
}
.view.pay .preset.button {
	font-size: 1.1rem;
}
