.view.pay {
	max-width: 25rem;
}
.view.pay .continue.button {
	float: right;
	text-align: center;
	margin-top: 2rem;
}
.view.pay .error {
	font-size: 0.9rem;
	text-align: center;
	margin-bottom: 2rem;
}
