.view.pay {
	display: flex;
	align-items: center;
	padding: 0;
	padding-bottom: 6rem;/* height of buttons */
}
.view.pay .page-description {
	margin-top: .5rem;
	margin-bottom: 0;
}
.view.pay .amount-wrap {
	margin-bottom: .5rem;
}
.view.pay .presets {
	text-align: center;
	margin-bottom: 2rem;
}
.view.pay .preset.button {
	font-size: 1.1rem;
}
.view.pay .button.secondary-control {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2.4rem;
	background-repeat: no-repeat;
}
.view.pay .button.secondary-control.continue {
	background-color: rgba(0,128,0,0.6);
	background-image: url('../images/continue.svg');
}
