.payment-history-confirmation-circle {
    border-radius: 1.8rem;
    width: 2.2rem;
    height: 2rem;
    margin: 1rem;
}

.payment-history-confirmed {
    background-color: #7ac142;
}

.payment-history-unconfirmed {
    background-color: #ff0000;
}

.payment-history-item {
    display: flex;
    flex: 1;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem #f7f7f7;
    margin-bottom: 1rem;
    cursor: pointer;
}

.payment-history-item-body {
    margin-left: 5%;
    margin-right: 5%;
}

.payment-history-item-amount {
    float: right;
}