.view.admin .payment-history-items {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
.view.admin .slider-item.payment-history .slider-item-content {
	overflow: hidden;
}
.view.admin .payment-history-empty {
	display: none;
	text-align: center;
	padding: 2rem;
}
.view.admin .payment-history.empty .payment-history-empty {
	display: block;
}
.view.admin .payment-history-item {
	position: relative;
	display: flex;
	flex: 1;
	justify-content: space-between;
	cursor: pointer;
	background-color: rgba(210, 210, 210, 0.4);
	box-sizing: border-box;
	padding: .8rem 1rem;
}
.view.admin .payment-history-item .payment-method {
	position: absolute;
	left: 0;
	top: 10%;
	width: 100%;
	height: 80%;
	background-size: contain;
	background-position: 50%;
	opacity: .25;
}
.view.admin .payment-history-item .payment-method.bitcoinLightning:after {
	right: initial;
	left: 50%;
}
.view.admin .payment-history-item-timestamp,
.view.admin .payment-history-item-amount-crypto {
	font-size: 0.9rem;
	font-weight: 100;
	margin-top: .2rem;
}
.view.admin .payment-history-status-and-timestamp {
	text-align: right;
}
.view.admin .payment-history-item.touchstart {
	background-color: rgba(210, 210, 210, 0.5);
}
.view.admin .payment-history-item.status-canceled {
	opacity: 0.5;
}
.view.admin .payment-history-item.status-canceled:nth-child(even) {
	background-color: rgba(210, 210, 210, 0.3);
}
.view.admin .payment-history-item.status-timed-out {
	background-color: rgba(216, 0, 12, 0.3);
}
.view.admin .payment-history-item.status-timed-out:nth-child(even) {
	background-color: rgba(216, 0, 12, 0.2);
}
.view.admin .payment-history-item.status-timed-out.touchstart {
	background-color: rgba(216, 0, 12, 0.4);
}
.view.admin .payment-history-item.status-unconfirmed {
	background-color: rgba(122, 193, 66, 0.35);
}
.view.admin .payment-history-item.status-unconfirmed:nth-child(even) {
	background-color: rgba(122, 193, 66, 0.25);
}
.view.admin .payment-history-item.status-unconfirmed.touchstart {
	background-color: rgba(122, 193, 66, 0.45);
}
.view.admin .payment-history-item.status-confirmed {
	background-color: rgba(122, 193, 66, 0.6);
}
.view.admin .payment-history-item.status-confirmed:nth-child(even) {
	background-color: rgba(122, 193, 66, 0.5);
}
.view.admin .payment-history-item.status-confirmed.touchstart {
	background-color: rgba(122, 193, 66, 0.7);
}
