.payment-details-confirmation-circle {
    border-radius: 1.8rem;
    height: 3rem;
    width: 14.5rem;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.payment-details-confirmed {
    background-color: #7ac142;
}

.payment-details-confirmed span {
    color: #fff;
    margin-left: 1rem;
}

.payment-details-unconfirmed {
    background-color: #F5F5F5;
}

.payment-details-unconfirmed span {
    color: #ff0000;
    margin-left: 1rem;
}

.payment-details-elements {
    margin-top: 1rem;
}

.payment-details-elements p {
    text-align: right;
}