.view.payment-status {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0;
	padding-bottom: 4rem;
}
.view.payment-status.unconfirmed .result-indicator {
	background-color: #7ac142;
}
.view.payment-status.timed-out .result-indicator {
	background-color: #d8000c;
}
.view.payment-status.replaceable .result-indicator {
	background-color: #d89e00;
}