.payment-details-confirmation-circle {
    border-radius: 18px;
    height: 30px;
    width: 145px;
    margin-left: 8px;
    font-size: 20px;
}

.payment-details-confirmed {
    background-color: #7ac142;
}

.payment-details-confirmed span {
    color: white;
    margin-left: 7px;
}

.payment-details-unconfirmed {
    background-color: #F5F5F5;
}

.payment-details-unconfirmed span {
    color: #FF0000;
    margin-left: 9px;
}

.payment-details-elements {
    margin-top: 10px;
}

.payment-details-elements p {
    text-align: right;
}