.view.recommended-mobile-wallets .recommendations-group {
	margin-top: 2rem;
}
.view.recommended-mobile-wallets .recommendations-group-items {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.view.recommended-mobile-wallets .recommendations-group-item {
	float: left;
	margin: 0 1rem 1rem 0;
}
.view.recommended-mobile-wallets .recommendations-group-item-name {
	font-size: 1.1rem;
	text-align: center;
	margin-top: .4rem;
}
.view.recommended-mobile-wallets .recommendations-group-item-qr-code {
	display: flex;
	flex-shrink: 2;
	width: 10rem;
	height: 10rem;
}
.view.recommended-mobile-wallets .recommendations-group-item-payment-methods {
	text-align: center;
	margin-top: .4rem;
}
.view.recommended-mobile-wallets .recommendations-group-item-payment-methods .payment-method {
	width: 2.4rem;
	height: 2.4rem;
	background-size: 2.4rem;
	background-position: 0;
}
.view.recommended-mobile-wallets .recommendations-group-item-payment-methods .payment-method.bitcoinTestnet {
	font-size: .6rem;
}
.view.recommended-mobile-wallets .recommendations-group-item-payment-methods .payment-method.bitcoinTestnet:after {
	left: -.15rem;
}
.view.recommended-mobile-wallets .recommendations-group-item-payment-methods .payment-method.bitcoinLightning:after {
	right: -.5rem;
	bottom: -.4rem;
	width: 1rem;
	height: 1.7rem;
	background-size: 1rem 1.7rem;
}
