.sample-addresses {
	text-align: left;
	margin-top: 1.5rem;
}
.sample-addresses:empty {
	display: none;
}
.sample-addresses-instructions {
	font-size: 1rem;
	line-height: 160%;
}
.sample-addresses-content {
	width: 100%;
	font-family: 'Courier';
	font-size: .9rem;
	line-height: 180%;
	border: none;
	background: transparent;
	box-sizing: border-box;
}
.sample-addresses-content-address {
	position: relative;
}
.sample-addresses-content-address-index {
	position: relative;
	left: 0;
	top: 0;
	font-size: .65rem;
	margin-right: .2rem;
	color: #aaa;
}
