{{#if description}}
<div class="payment-method-description">
	{{{description}}}
</div>
{{/if}}

<form>
	<div class="form">
		<div class="form-group {{key}}{{#if accepted}} accepted{{/if}}">
			{{#each settings}}
				{{#if visible}}
			<div class="form-row form-row-type--{{type}}">
				<div class="form-label">
					<label for="{{id}}">{{label}}</label>
				</div>
				{{#if description}}
					<div class="form-description">{{description}}</div>
				{{/if}}
				<div class="form-field">
					{{> formField .}}
				</div>
			</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</form>

<div class="verification"></div>
