<div class="enter-pin-inner">
	{{#if title}}
	<h2 class="page-title">{{title}}</h2>
	{{/if}}
	<div class="enter-pin-keys"></div>
	<div class="enter-pin-number-pad"></div>
	{{#if instructions}}
	<p class="enter-pin-instructions">{{instructions}}</p>
	{{/if}}
	<div class="secondary-controls">
		<a class="secondary-control button submit" title="{{i18n 'enter-pin.submit'}}"></a>
		{{#if showCancel}}
		<a class="secondary-control button cancel" title="{{i18n 'enter-pin.cancel'}}"></a>
		{{/if}}
	</div>
</div>