<div class="export-payment-history-dialog-inner">
	<p class="page-description">{{i18n "payment-history.export.dialog.message"}}</p>
	<div class="form">
		<div class="form-group">
			{{#each inputs}}
				{{> formFieldRow .}}
			{{/each}}
		</div>
	</div>
	<div class="secondary-controls">
		<a class="secondary-control button cancel" title="{{i18n 'payment-history.export.dialog.cancel'}}"></a>
		<a class="secondary-control button download" title="{{i18n 'payment-history.export.dialog.download'}}"></a>
	</div>
</div>