{{#switch type}}
	{{#case "select" break=true}}
	<select class="form-input" id="{{id}}" name="{{name}}">
		{{#each options}}
		<option{{#if selected}} selected{{/if}}{{#if disabled}} disabled{{/if}}{{#if key}} value="{{key}}"{{/if}}>{{label}}</option>
		{{/each}}
	</select>
	{{/case}}
	{{#case "checkbox" break=true}}
	<label class="form-switch" for="{{id}}">
		<input type="checkbox" name="{{name}}" id="{{id}}"{{#if value}} checked{{/if}} value="1">
		<span class="form-switch-slider"></span>
	</label>
	{{/case}}
	{{#case "number" break=true}}
	<input class="form-input" type="number" id="{{id}}" name="{{name}}" value="{{value}}">
	{{/case}}
	{{#case "integer" break=true}}
	<input class="form-input" type="number" min="0" step="1" id="{{id}}" name="{{name}}" value="{{value}}">
	{{/case}}
	{{#case "password" break=true}}
	<input class="form-input" type="password" id="{{id}}" name="{{name}}" value="{{value}}">
	{{/case}}
	{{#default}}
	<input class="form-input" type="text" id="{{id}}" name="{{name}}" value="{{value}}">
	{{/default}}
{{/switch}}
	<div class="form-error"></div>
{{#if actions}}
	<div class="form-field-actions">
	{{#each actions}}
		<a class="form-field-action button {{name}}" data-action="{{name}}" data-input="{{../name}}"></a>
	{{/each}}
	</div>
{{/if}}
