<div class="getting-started-page">
	<p>{{i18n "getting-started.welcome.instructions"}}</p>
	{{#if recommendedHardwareWallets}}
	<ul class="recommended-hardware-wallets">{{#each recommendedHardwareWallets}}
		<li><a href="{{url}}" title="{{name}}"><img src="{{image}}" alt="{{name}} Logo"></a></li>{{/each}}
	</ul>
	{{/if}}
</div>
<div class="skip-getting-started">
</div>
<div class="secondary-controls">
	<a class="secondary-control button skip">{{i18n "getting-started.welcome.skip"}}</a>
	<a class="secondary-control button continue" title="{{i18n 'getting-started.welcome.start'}}"></a>
</div>
