<div class="getting-started-page">
	<h1 class="getting-started-page-title">{{title}}</h1>
{{#if instructions}}
	<div class="getting-started-page-instructions">
		<p>{{instructions}}</p>
		{{#if links}}
		<ul>{{#each links}}
			<li><a href="{{url}}">{{label}}</a></li>{{/each}}
		</ul>
		{{/if}}
	</div>
{{/if}}
	<form>
		<div class="form">
			{{#each settings}}
				{{#if visible}}
					{{> formFieldRow .}}
				{{/if}}
			{{/each}}
		</div>
	</form>
</div>
<div class="secondary-controls">
	<a class="secondary-control button back" title="{{i18n 'getting-started.buttons.back'}}"></a>
	<a class="secondary-control button continue" title="{{i18n 'getting-started.buttons.continue'}}"></a>
</div>
