<a class="number-pad-key" data-key="1">1</a>
<a class="number-pad-key" data-key="2">2</a>
<a class="number-pad-key" data-key="3">3</a>
<a class="number-pad-key" data-key="4">4</a>
<a class="number-pad-key" data-key="5">5</a>
<a class="number-pad-key" data-key="6">6</a>
<a class="number-pad-key" data-key="7">7</a>
<a class="number-pad-key" data-key="8">8</a>
<a class="number-pad-key" data-key="9">9</a>
{{#if dot}}
<a class="number-pad-key dot" data-key=".">.</a>
{{else}}
<a class="number-pad-key disabled"></a>
{{/if}}
<a class="number-pad-key" data-key="0">0</a>
<a class="number-pad-key backspace">&lt;</a>