<div class="number-pad-keys">
	<a class="number-pad-key button" data-key="1">1</a>
	<a class="number-pad-key button" data-key="2">2</a>
	<a class="number-pad-key button" data-key="3">3</a>
	<a class="number-pad-key button" data-key="4">4</a>
	<a class="number-pad-key button" data-key="5">5</a>
	<a class="number-pad-key button" data-key="6">6</a>
	<a class="number-pad-key button" data-key="7">7</a>
	<a class="number-pad-key button" data-key="8">8</a>
	<a class="number-pad-key button" data-key="9">9</a>
	{{#if useDecimal}}
	<a class="number-pad-key button decimal">{{decimalSeparator}}</a>
	{{else}}
	<a class="number-pad-key button disabled"></a>
	{{/if}}
	<a class="number-pad-key button" data-key="0">0</a>
	<a class="number-pad-key button backspace">&lt;</a>
</div>
