<div class="numpad">
	<a class="numpad-key" data-value="1">1</a>
	<a class="numpad-key" data-value="2">2</a>
	<a class="numpad-key" data-value="3">3</a>
	<a class="numpad-key" data-value="4">4</a>
	<a class="numpad-key" data-value="5">5</a>
	<a class="numpad-key" data-value="6">6</a>
	<a class="numpad-key" data-value="7">7</a>
	<a class="numpad-key" data-value="8">8</a>
	<a class="numpad-key" data-value="9">9</a>
	<a class="numpad-key" data-value=".">.</a>
	<a class="numpad-key" data-value="0">0</a>
	<a class="numpad-key backspace">&lt;</a>
</div>