<div class="info">
	<div class="info-inner">
		{{> amount}}
		<div class="message">
			<p>{{{i18n "display-payment-address.message.offline1"}}}</p>
			<p>{{{i18n "display-payment-address.message.offline2"}}}</p>
		</div>
	</div>
</div>
<div class="address">
	<div class="address-qr-code"></div>
	<p class="page-description address-instructions">{{i18n "pay-address.description"}}</p>
</div>
<div class="secondary-controls">
	<a class="secondary-control button back">{{i18n "pay-address.back"}}</a>
	<a class="secondary-control button cancel">{{i18n "pay-address.cancel"}}</a>
</div>