<div class="view-inner">
	{{> amount}}
	{{#if presets}}
	<div class="presets">
		{{#each presets}}
		<a class="preset button" href="#pay/{{.}}">{{.}} {{../displayCurrency}}</a>
		{{/each}}
	</div>
	{{/if}}
	<div class="number-pad-wrap">
		<div class="number-pad"></div>
	</div>
	<p class="page-description">{{i18n "pay-enter-amount.description"}}</p>
	<div class="secondary-controls">
		<a class="secondary-control button continue disabled" title="{{i18n 'pay-enter-amount.continue'}}"></a>
	</div>
</div>