<h2 class="page-title">{{i18n "payment-details.title"}}</h2>
<div class="payment-details-info">
	<div class="payment-details-info-item">
		<div class="payment-details-info-item-label">{{i18n "payment-details.label.status"}}</div>
		<div class="payment-details-info-item-value status">{{status}}</div>
	</div>
	<div class="payment-details-info-item">
		<div class="payment-details-info-item-label">{{i18n "payment-details.label.timestamp"}}</div>
		<div class="payment-details-info-item-value timestamp">{{formatDate timestamp}}</div>
	</div>
	<div class="payment-details-info-item">
		<div class="payment-details-info-item-label">{{i18n "payment-details.label.amount"}}</div>
		<div class="payment-details-info-item-value">
			<div class="payment-details-amount-display">{{formatNumber amount}} {{currency}}</div>
			<div class="payment-details-amount-crypto">{{formatNumber cryptoAmount paymentMethod.ref}} {{paymentMethod.code}}</div>
		</div>
	</div>
</div>
<div class="secondary-controls">
	<a class="secondary-control button back">{{i18n "payment-details.back"}}</a>
</div>
