<div class="payment-history-item-amount">
	<div class="payment-history-item-amount-display">{{formatNumber amount currency}} {{currency}}</div>
	<div class="payment-history-item-amount-crypto">{{formatNumber cryptoAmount paymentMethod.code}} {{paymentMethod.code}}</div>
</div>
<div class="payment-history-status-and-timestamp">
	<div class="payment-history-item-status">{{statusLabel}}</div>
	<div class="payment-history-item-timestamp">{{formatDate timestamp}}</div>
</div>
<div class="payment-method {{paymentMethod.ref}}"></div>
