<form>
	<div class="form">
		<div class="form-error error"></div>
		<div class="form-group settings">
			<div class="form-group-label">{{i18n "settings.general.label"}}</div>
			{{#each settings}}
				<div class="form-row form-row-type--{{type}}">
					<div class="form-label">
						<label for="{{id}}">{{label}}</label>
					</div>
					<div class="form-field">
						{{> formField .}}
					</div>
				</div>
			{{/each}}
		</div>
		<div class="form-group configurableCryptoCurrencies">
			<div class="form-group-label">{{i18n "settings.accept-crypto-currencies.label"}}</div>
			{{#each paymentMethods}}
			<input id="settings-configurableCryptoCurrencies-{{key}}" type="checkbox" name="configurableCryptoCurrencies[]" value="{{key}}"{{#if accepted}} checked{{/if}}>
			<label for="settings-configurableCryptoCurrencies-{{key}}" class="button payment-method {{key}}" title="{{label}}"></label>
			{{/each}}
		</div>
		<div class="form-buttons">
			<input class="button form-button save" type="submit" value="{{i18n 'form.save'}}">
			<div class="success"></div>
		</div>
	</div>
</form>