<form>
	<div class="form">
		<div class="form-group settings">
			<div class="form-row">
				<div class="form-label">{{i18n "admin.pin.label"}}</div>
				<div class="form-field">
					<p class="form-field-description">{{i18n "admin.pin.description"}}</p>
					<div class="form-field-links">
						{{#if hasPin}}
						<a class="form-field-link set-pin">{{i18n "admin.pin.change"}}</a>
						<a class="form-field-link remove-pin">{{i18n "admin.pin.remove"}}</a>
						{{else}}
						<a class="set-pin">{{i18n "admin.pin.set"}}</a>
						{{/if}}
					</div>
				</div>
			</div>
			{{#each settings}}
				{{#if visible}}
				<div class="form-row form-row-type--{{type}}">
					<div class="form-label">
						<label for="{{id}}">{{label}}</label>
					</div>
					<div class="form-field">
						{{> formField .}}
					</div>
				</div>
				{{/if}}
			{{/each}}
		</div>
		<div class="form-group configurableCryptoCurrencies">
			<div class="form-group-label">{{i18n "settings.accept-crypto-currencies.label"}}</div>
			{{#each paymentMethods}}
			<input id="settings-configurableCryptoCurrencies-{{key}}" type="checkbox" name="configurableCryptoCurrencies[]" value="{{key}}"{{#if accepted}} checked{{/if}}>
			<label for="settings-configurableCryptoCurrencies-{{key}}" class="button payment-method {{key}}" title="{{label}}" data-key="{{key}}"></label>
			{{/each}}
			<div class="clearfix"></div>
		</div>
	</div>
</form>